<%= form_for(@album, html: {multipart: true}) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cover_image_name %><br />
    <%= f.text_field :cover_image_name %>
  </div>
  <div class="field">
    <%= f.label :cover_image %><br />
    <%= f.file_field :cover_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
